{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Thanks for visiting my blog! If you liked it please visit my facebook: </p>
        <a href="facebook"
           class="btn btn-danger">facebook</a>
    </div>
</div>
</div>

{% endblock sidebar %}